// $medium-pink: rgb(226, 214, 207);
// $light-pink: rgb(247, 244, 242);
// $brown: rgb(91, 57, 38);
$medium-dark: #121212;
$light-dark: #363636;
$white: white;

.cardContainer {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: $medium-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .card {
    padding: 3rem;
    margin: 1rem;
    width: calc(min(100%, 350px));
    height: 350px;
    border-radius: 15px;
    background-color: $light-dark;

    .cardSubContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .value,
      .valueName {
        font-family: 'Roboto Mono', monospace;
        font-size: 1.5rem;
        color: $white;
      }
      .value {
        color: #00c98d;
      }
      .valueName {
        font-size: 1rem;
      }
      .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        .btn {
          margin: 1rem;
          color: white;
          border-color: $medium-dark;
          // box-shadow: rgb(226, 214, 207) 6px 6px 12px,
          //   rgb(247, 244, 242) -12px -12px 24px -2px;
        }
        .btn:hover {
          background-color: $medium-dark;
          box-shadow: 0px 0px 5px white;
        }
      }
    }
  }
}
.footNoteContainer {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  background-color: $medium-dark;
  color: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  a {
    color: $white;
  }
  a:hover {
    text-decoration: none;
    color: $white;
    border-bottom: 1px solid white;
  }
}

.inputBox {
  .ant-input-number {
    display: block;
    display: flex;
    justify-content: space-around;
    // flex-wrap: wrap;
    .ant-input-number-input {
      order: 0;
    }
    .ant-input-number-handler-wrap {
      order: 1;
    }
  }
  .btn {
    border-color: $medium-dark;
    // box-shadow: rgb(226, 214, 207) 6px 6px 12px,
    //   rgb(247, 244, 242) -12px -12px 24px -2px;
  }
}
