$medium-dark: #121212;
$light-dark: #2c2c2c;
$grey: #b2b2b2;
$white: #ffffff;
$green: #00c98d;
$blue: #4770ff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

// .allContainer {
// min-height: 100vh;
// }
.cardContainer {
  padding: 5rem 0 0 0;
  height: 100%;
  width: 100%;
  background-color: $light-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .card {
    padding: 3rem;
    margin: 1rem;
    width: calc(min(100%, 350px));
    height: 350px;
    border-radius: 15px;
    background-color: $white;

    .cardSubContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .value,
      .valueName {
        font-size: 1.5rem;
        color: $medium-dark;
      }
      .valueName {
        font-size: 1rem;
        color: $grey;
      }
      .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
          margin: 1rem;
          border-radius: 7px;
          background-color: $green;
          color: white;
        }
        .btn:hover {
          box-shadow: 0px 0px 5px $light-dark;
        }
      }
    }
  }
}
.footNoteContainer {
  font-size: 1rem;
  background-color: $light-dark;
  color: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 4rem 0;
  a {
    color: $white;
  }
  a:hover {
    text-decoration: none;
    color: $white;
    border-bottom: 1px solid white;
  }
}

.inputBox,
.inputBox:focus {
  outline: none;
  border-radius: 10px;
  border: 1px solid $light-dark;
  padding: 1rem;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  border: 1px solid red;
}

.footer {
  background-color: $medium-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  flex-wrap: wrap;
  .socialMediaBtn {
    max-height: 50px;
    padding: 10px;
    border-radius: 25px;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: $light-dark;
    border: 1px solid $light-dark;
    color: $white;
  }
  .socialMediaBtn:focus {
    outline: none;
  }
  img {
    margin-right: 5px;
  }
}

.writeToUs {
  background-color: $blue !important;
}

.footer2 {
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  background-color: $medium-dark;
  color: $light-dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uniswapBtn {
  margin: 1rem;
  display: flex;
  background-color: $light-dark;
  color: $white;
  border: 1px solid $white;
  border-radius: 10px;
  padding: 10px;
  .uniswapName {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.uniswapBtn:focus {
  outline: none;
}

a {
  text-decoration: none !important;
  color: white !important;
}
